@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//----------Обнуление----------//
*{
    padding: 0;
   margin: 0;
   border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

//---------Стили general----------//

body{
    font-family: PT Sans;
}

.section {
    width: 100%;
}

.wrapper {
    max-width: 1296px + 60px;
    padding: 0 30px;
    margin: 0 auto;
}

.logo {
}

.title {
    color: rgb(51, 51, 51);
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}

.text {
}

//---------Стили header----------//

.header {
    position: fixed;
    height: 110px;
    background: rgb(255, 255, 255);

		// .header_tools

		&_tools {
            width: 387px / 1296px * 100%;
            height: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

		// .header_lang

		&_lang {
            width: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                position: relative;
                top: 4px;
            }
		}

		// .header__wrapper

		&__wrapper {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

		// .header__logo

		&__logo {
            width: 108px;
		}

		// .header__nav

		&__nav {
            display: flex;
            justify-content: space-between;
            width: 613px / 1296px * 100%;
		}

		// .header__point

		&__point {
            *{
                text-decoration: none;
                color: rgb(51, 51, 51);
            }
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
		}

		// .header__search

		&__search {
            width: 194px / 387px * 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: end;
		}

		// .header__line

		&__line {
            width: 77.319%;
            border: 1px solid rgb(51, 51, 51);
            opacity: 0.2;
		}
}

//---------Стили footer----------//

.footer {

		// .footer_contacts

		&_contacts {
            display: flex;
            justify-content: space-between;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
		}

		// .footer__footer-top

		&__footer-top {
            height: 120px;
            background-color: rgb(61, 52, 139);
            opacity: 0.85;
		}

		// .footer__wrapper-top

		&__wrapper-top {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

		// .footer__adress

		&__adress {
            display: flex;
            align-items: center;
            
            img{
                width: 20.63px;
            }
            span{
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 700;
                margin-left: 24.69px;
            }
		}

		// .footer__logo

		&__logo {
            height: 30px;
		}

		// .footer__contact-num

		&__contact-num {
            display: flex;
            align-items: center;
            
            img{
                width: 22.5px;
            }
            span{
                margin-left: 23.75px;
            }
		}

		// .footer__contact-mail

		&__contact-mail {
            display: flex;
            align-items: center;
            margin-left: 32.5px;
            img{
                width: 25px;
            }
            span{
                margin-left: 22.5px;
            }
		}

        // .footer__footer-bottom

        &__footer-bottom {
            height: 484px;
            background: rgb(61, 52, 139);   
        }

		// .footer__wrapper-bottom

		&__wrapper-bottom {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
		}

        // .footer__navs

		&__navs {
            width: 100%;
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
		}

        // .footer__copyright

		&__copyright {
            margin-bottom: 30px;
            opacity: 0.5;
            span{
                color: rgb(255, 255, 255);
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 10%;
                text-align: center;
                text-transform: uppercase;
            }
		}

		// .footer__legal-nav

		&__legal-nav {
		}

		// .footer__purchase-nav

		&__purchase-nav {
		}

		// .footer__shareholder-nav

		&__shareholder-nav {
            div, a{
                text-align: right;
            }
		}

		// .footer__company-nav

		&__company-nav {
            div, a{
                text-align: right;
            }
		}
}

.nav {

        display: flex;
        flex-direction: column;

		// .nav__title

		&__title {
            margin-bottom: 30px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 10%;
            text-align: left;
            text-transform: uppercase;
		}

		// .nav__point

		&__point {
            margin-bottom: 18px;
            color: rgb(255, 255, 255);
            font-family: PT Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
		}
}

