//---------Стили section1----------//

.section1 {
    margin-top: 110px;

    background: url(../img/sec1/Rectangle\ 23.png) center 110px no-repeat fixed;
		// .section1__wrapper

		&__wrapper {
            padding-top: 113px;
            padding-bottom: 113px;
            display: flex;
            justify-content: space-between;
		}

		// .section1__info

		&__info {
            width: 526px / 1296px * 100%;
            height: 336px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
		}

		// .section1__big-title

		&__big-title {
            color: rgb(255, 255, 255);
            font-size: 50px;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
		}

		// .section1__subtitle

		&__subtitle {
            padding: 40px 0 64px 0;
            width: 322px / 526px * 100%;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
		}

		// .section1__about

		&__about {
            display: flex;
            align-items: center;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: 10%;
            text-align: left;
            text-transform: uppercase;
            img{
                height: 30px;
                margin-left: 22.79px;
            }
		}

		// .section1__services

		&__services {
            display: grid;
            grid-template-columns: repeat(2, 306px);
            grid-auto-rows: 250px;
		}

		// .section1__servise

		&__servise {
            background: rgb(93, 183, 222);
		}
}

//---------Стили section2----------//

.section2 {

		// .section2_title

		&_title {
			margin-bottom: 60px;
		}

		// .section2__wrapper

		&__wrapper {
			padding-top: 150px;
			padding-bottom: 150px;
			display: flex;
            justify-content: space-between;
		}

		// .section2__info

		&__info {
			width: 306px / 1296px * 100%;
			// background-color: red;
		}

		// .section2__docs

		&__docs {
			display: grid;
			grid-template-rows: repeat(3, auto);
			row-gap: 31px;
		}

		// .section2__doc

		&__doc {
			display: flex;
			justify-content: space-between;
			align-items: center;
			span{
				color: rgb(61, 52, 139);
				font-size: 16px;
				font-weight: 400;
				line-height: 140%;
				letter-spacing: 0%;
			}
		}

		// .section2__pdf

		&__pdf {
			width: 46px;
		}

		// .section2__servises

		&__servises {
			display: grid;
            grid-template-columns: repeat(2, 416px);
            grid-auto-rows: 223px;
		}

		// .section2__servise

		&__servise {
			background: rgb(61, 52, 139);
		}
}


//---------Стили section3----------//

.section3 {

		// .section3__wrapper

		&__wrapper {
		}

		// .section3__title

		&__title {
		}

		// .section3__content

		&__content {
		}

		// .section3__text

		&__text {
		}

		// .section3__preview

		&__preview {
		}

		// .section3__video

		&__video {
            display: none;
		}

		// .section3__servise

		&__servise {
		}
}

.video {

		// .video__btn

		&__btn {
		}
}

//---------Стили section4----------//

.section4 {

		// .section4__wrapper

		&__wrapper {
		}

		// .section4__news-top

		&__news-top {
		}

		// .section4__title

		&__title {
		}

		// .section4__more

		&__more {
		}

		// .section4__news-container

		&__news-container {
		}

		// .section4__news

		&__news {
		}
}

.news {

		// .news__date

		&__date {
		}

		// .news__title

		&__title {
		}

		// .news__subtitle

		&__subtitle {
		}
}
