@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: PT Sans;
}

.section {
  width: 100%;
}

.wrapper {
  max-width: 1356px;
  padding: 0 30px;
  margin: 0 auto;
}

.title {
  color: rgb(51, 51, 51);
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.text {
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.servises {
  gap: 24px;
}
.servises__title {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.servises__description {
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.servises__servise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 118;
  padding: 30px 35px 30px 35px;
  border-radius: 20px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 110px;
  background: rgba(255, 255, 255, 0.904);
}
.header_tools {
  width: 29.8611111111%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_lang {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_lang img {
  position: relative;
  top: 4px;
}
.header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 108px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 47.299382716%;
}
.header__point {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.header__point * {
  text-decoration: none;
  color: rgb(51, 51, 51);
}
.header__search {
  width: 50.1291989664%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.header__line {
  width: 77.319%;
  border: 1px solid rgb(51, 51, 51);
  opacity: 0.2;
}

.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
.footer__footer-top {
  height: 120px;
  background-color: rgb(61, 52, 139);
  opacity: 0.85;
}
.footer__wrapper-top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__adress img {
  width: 20.63px;
}
.footer__adress span {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  margin-left: 24.69px;
}
.footer__logo {
  height: 30px;
}
.footer__contact-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contact-num img {
  width: 22.5px;
}
.footer__contact-num span {
  margin-left: 23.75px;
}
.footer__contact-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32.5px;
}
.footer__contact-mail img {
  width: 25px;
}
.footer__contact-mail span {
  margin-left: 22.5px;
}
.footer__footer-bottom {
  height: 484px;
  background: rgb(61, 52, 139);
}
.footer__wrapper-bottom {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__navs {
  width: 100%;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copyright {
  margin-bottom: 30px;
  opacity: 0.5;
}
.footer__copyright span {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}
.footer__shareholder-nav div, .footer__shareholder-nav a {
  text-align: right;
}
.footer__company-nav div, .footer__company-nav a {
  text-align: right;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav__title {
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.nav__point {
  margin-bottom: 18px;
  color: rgb(255, 255, 255);
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}