@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: PT Sans;
}

.section {
  width: 100%;
}

.wrapper {
  max-width: 1356px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .wrapper {
    padding: 0 15px;
  }
}
.title {
  color: rgb(51, 51, 51);
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 400px) {
  .title {
    font-size: 1.9rem;
  }
}
.text {
  color: rgb(51, 51, 51);
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.servises {
  gap: 24px;
}
.servises__title {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.servises__description {
  color: rgb(255, 255, 255);
  font-size: 1.19rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.servises__servise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 118;
  padding: 30px 35px 30px 35px;
  border-radius: 20px;
}

@media (max-width: 400px) {
  .servises__description {
    font-size: 0.9rem;
  }
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 110px;
  background: rgba(255, 255, 255, 0.904);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_tools {
  position: relative;
  width: 29.8611111111%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_lang {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_lang img {
  position: relative;
  top: 4px;
}
.header__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 108px;
}
.header__logo img {
  width: 100%;
}
.header__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 47.299382716%;
}
.header__nav img {
  display: none;
}
.header__point {
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  text-wrap: nowrap;
}
.header__point * {
  height: 100%;
  text-align: center;
  padding: 0 5px;
  text-decoration: none;
  color: rgb(51, 51, 51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__point:first-child {
  display: none;
}
.header__point_active {
  background: rgba(51, 51, 51, 0.05);
  border-bottom: 2px solid rgb(61, 52, 139);
}
.header__search {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__line-wrapper {
  width: 100%;
  height: 100%;
  margin-left: 10px;
}
.header__line {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid rgba(51, 51, 51, 0.2);
  padding-left: 5%;
  background: none;
  color: rgba(51, 51, 51, 0.7);
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .header__wrapper {
    height: 24px;
  }
  .header__nav {
    height: 26px;
    position: absolute;
    overflow: hidden;
    min-width: 110px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    top: 0;
    left: 32%;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: height ease-in 0.3s;
    transition: height ease-in 0.3s;
  }
  .header__nav img {
    display: block;
    position: absolute;
    height: 20px;
    opacity: 0.75;
    padding: 5px;
    top: 2px;
    right: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  .header__nav:hover {
    height: 158.73px;
    background-color: #fff;
    border: 1.5px solid rgba(51, 51, 51, 0.2);
  }
  .header__nav:hover img {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .header__point {
    width: 100%;
    padding-right: 20px;
    padding-left: 5px;
    -webkit-transition: all ease-in 0.1s;
    transition: all ease-in 0.1s;
  }
  .header__point:hover {
    background: rgba(61, 52, 139, 0.05);
    border-bottom: none;
  }
  .header__point:first-child {
    display: block;
  }
  .header__point:first-child:hover {
    background: none;
  }
  .header__point_active {
    background: none;
    border-bottom: none;
  }
}
@media (max-width: 600px) {
  .header {
    height: 80px;
  }
  .header__logo {
    width: 70px;
  }
  .header__search img {
    width: 16px;
  }
  .header__line-wrapper {
    position: absolute;
    top: 24px;
    left: 16px;
    margin: 0px;
    opacity: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0 20px 20px 20px;
    background: #fff;
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    border: 1.5px solid rgba(51, 51, 51, 0.2);
  }
  .header__line {
    display: block;
    margin: 10px 15px;
    width: 100%;
    height: 100%;
    background: none;
    font-size: 80%;
    left: 0;
  }
}
.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
}
.footer__footer-top {
  height: 120px;
  background-color: rgb(61, 52, 139);
  opacity: 0.85;
}
.footer__wrapper-top {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__adress img {
  width: 20.63px;
}
.footer__adress span {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  margin-left: 24.69px;
}
.footer__logo {
  height: 30px;
}
.footer__contact-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contact-num img {
  width: 22.5px;
}
.footer__contact-num span {
  margin-left: 23.75px;
}
.footer__contact-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32.5px;
}
.footer__contact-mail img {
  width: 25px;
}
.footer__contact-mail span {
  margin-left: 22.5px;
}
.footer__footer-bottom {
  height: 484px;
  background: rgb(61, 52, 139);
}
.footer__wrapper-bottom {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__navs {
  width: 100%;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copyright {
  margin-bottom: 30px;
  opacity: 0.5;
}
.footer__copyright span {
  color: rgb(255, 255, 255);
  font-size: 0.81rem;
  font-weight: 700;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}
.footer__shareholder-nav div, .footer__shareholder-nav a {
  text-align: right;
}
.footer__company-nav div, .footer__company-nav a {
  text-align: right;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav__title {
  position: relative;
  min-height: 40px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.nav__point {
  min-height: 40px;
  color: rgb(255, 255, 255);
  font-family: PT Sans;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.nav img {
  display: none;
  position: absolute;
  top: 12px;
  right: 7px;
  height: 16px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

@media (max-width: 1000px) {
  .footer_contacts {
    border-left: 2px solid #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
  }
  .footer_contacts > * {
    margin: 0;
  }
  .footer__footer-top {
    height: 310px;
  }
  .footer__wrapper-top {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contact-mail {
    margin-top: 5px;
  }
  .footer__footer-bottom {
    height: auto;
  }
  .footer__navs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .nav {
    border: 1px solid white;
    margin-bottom: 30px;
    overflow: hidden;
    max-height: 40px;
    -webkit-transition: all ease-in 0.4s;
    transition: all ease-in 0.4s;
  }
  .nav img {
    display: block;
  }
  .nav__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 300;
    outline: 1px solid white;
  }
  .nav__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
  }
  .nav__point:hover {
    background: rgba(103, 96, 165, 0.733);
  }
  .nav:hover {
    max-height: 500px;
  }
  .nav:hover img {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}