.section1 {
  margin-top: 110px;
  background: url(../img/sec1/Rectangle\ 23.png) center 110px no-repeat fixed;
}
.section1__wrapper {
  padding-top: 113px;
  padding-bottom: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section1__info {
  width: 40.5864197531%;
  height: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section1__big-title {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.section1__subtitle {
  padding: 40px 0 64px 0;
  width: 61.216730038%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.section1__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.section1__about img {
  height: 30px;
  margin-left: 22.79px;
}
.section1__services {
  display: grid;
  grid-template-columns: repeat(2, 306px);
  grid-auto-rows: 250px;
}
.section1__servise {
  background: rgb(93, 183, 222);
}

.section2_title {
  margin-bottom: 60px;
}
.section2__wrapper {
  padding-top: 150px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section2__info {
  width: 23.6111111111%;
}
.section2__docs {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 31px;
}
.section2__doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2__doc span {
  color: rgb(61, 52, 139);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}
.section2__pdf {
  width: 46px;
}
.section2__servises {
  display: grid;
  grid-template-columns: repeat(2, 416px);
  grid-auto-rows: 223px;
}
.section2__servise {
  background: rgb(61, 52, 139);
}

.section3__video {
  display: none;
}