.section1 {
  margin-top: 110px;
  background: url(../img/sec1/Rectangle\ 23.png) center 110px no-repeat fixed;
}
.section1__wrapper {
  padding-top: 113px;
  padding-bottom: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section1__info {
  width: 40.5864197531%;
  height: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section1__big-title {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.section1__subtitle {
  padding: 40px 0 64px 0;
  max-width: 61.216730038%;
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.section1__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.section1__about img {
  height: 30px;
  margin-left: 22.79px;
}
.section1__servises {
  display: grid;
  grid-template-columns: repeat(2, 306px);
  grid-auto-rows: 250px;
}
.section1__servise {
  background: rgb(93, 183, 222);
}

@media (max-width: 1200px) {
  .section1__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section1__info {
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .section1__big-title {
    width: 100%;
  }
  .section1__subtitle {
    max-width: 400px;
    padding: 20px 0 20px 0;
  }
  .section1__about {
    width: 100%;
  }
  .section1__servises {
    max-width: 400px;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .section1__servises .section1__servise {
    display: none;
  }
  .section1__servises .servises__servise:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 600px) {
  .section1 {
    margin-top: 80px;
    background: url(../img/sec1/Rectangle\ 23.png) center 80px no-repeat fixed;
  }
}
@media (max-width: 425px) {
  .section1__big-title {
    font-size: 2rem;
    line-height: 120%;
  }
  .section1__subtitle {
    font-size: 0.9rem;
  }
}
.section2_title {
  margin-bottom: 60px;
}
.section2__wrapper {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section2__info {
  width: 23.6111111111%;
  margin-right: 20px;
}
.section2__docs {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 31px;
}
.section2__doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2__doc span {
  color: rgb(61, 52, 139);
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}
.section2__pdf {
  width: 46px;
}
.section2__servises {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 223px;
}
.section2__servise {
  background: rgb(61, 52, 139);
}
.section2__more {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(245, 245, 249);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 249, 0)), to(rgb(245, 245, 249)));
  background: linear-gradient(180deg, rgba(245, 245, 249, 0) 0%, rgb(245, 245, 249) 100%);
}
.section2__more img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

@media (max-width: 1000px) {
  .section2 {
    overflow: hidden;
  }
  .section2_title {
    margin-bottom: 20px;
  }
  .section2__wrapper {
    max-height: 550px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    padding-bottom: 70px;
    -webkit-transition: all ease-in-out 1.3s;
    transition: all ease-in-out 1.3s;
  }
  .section2__wrapper_active {
    max-height: 1300px;
  }
  .section2__wrapper_active .section2__more img {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .section2__info {
    width: 100%;
    margin-right: 0;
  }
  .section2__docs {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, auto);
    row-gap: 10px;
    margin-bottom: 20px;
  }
  .section2__doc {
    background: rgba(61, 52, 139, 0.05);
    padding: 10px;
    border-radius: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .section2__doc span {
    font-size: 1rem;
    margin-right: 10px;
  }
  .section2__doc:nth-child(2) {
    margin: 0 20px;
  }
  .section2__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 590px) {
  .section2__docs {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
  }
  .section2__doc span {
    font-size: 0.7rem;
  }
  .section2__doc:nth-child(2) {
    margin: 0;
  }
  .section2__servise {
    padding: 10px;
  }
  .section2__servise * {
    font-size: 0.8rem;
  }
  .section2__servises {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 110px;
  }
}
.section3 {
  background: rgba(61, 52, 139, 0.05);
}
.section3__wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 110px;
}
.section3__title {
  margin-bottom: 60px;
}
.section3__text * {
  margin-bottom: 16px;
}
.section3__text ul > li {
  padding-left: 35px;
  position: relative;
}
.section3__text ul > li::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(51, 51, 51);
}
.section3__text:last-child {
  margin-bottom: 0;
}
.section3__preview {
  max-width: 40.5864197531%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
  margin-left: 40px;
}
.section3__video {
  max-width: 100%;
  margin-bottom: 30px;
}
.section3__video video {
  width: 100%;
}
.section3__servise {
  background-color: rgb(93, 183, 222);
  max-width: 526px;
}
.section3__servise .servises__title {
  margin-bottom: 38px;
}
.section3__more {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 253, 253);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 253, 253, 0)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(180deg, rgba(255, 253, 253, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
}
.section3__more img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.video {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.video__btn {
  position: absolute;
  width: 12.7376425856%;
  background-color: rgba(255, 255, 255, 0);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.video__btn img {
  width: 100%;
}

@media (max-width: 1000px) {
  .section3__wrapper {
    max-height: 800px;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
    -webkit-transition: all ease-in-out 1.3s;
    transition: all ease-in-out 1.3s;
  }
  .section3__wrapper_active {
    max-height: 2300px;
  }
  .section3__wrapper_active .section3__more img {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .section3__title {
    margin-bottom: 30px;
  }
  .section3__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 615px) {
  .section3__text {
    font-size: 1rem;
  }
  .section3__preview {
    max-width: 100%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin: 0 auto;
    float: none;
    margin-bottom: 30px;
  }
}
.section4__wrapper {
  padding-top: 150px;
  padding-bottom: 150px;
}
.section4__news-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.section4__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(61, 52, 139);
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 10%;
  text-transform: uppercase;
}
.section4__more img {
  margin-left: 15px;
}
.section4__news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news {
  position: relative;
  width: 100%;
  border-radius: 10px;
  display: none;
  overflow: hidden;
}
.news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 2%;
  position: absolute;
  bottom: 0;
  background-color: red;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0.4066001401)), color-stop(50%, rgba(0, 0, 0, 0.6334908964)), color-stop(75%, rgba(0, 0, 0, 0.7567401961)), to(rgb(0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4066001401) 25%, rgba(0, 0, 0, 0.6334908964) 50%, rgba(0, 0, 0, 0.7567401961) 75%, rgb(0, 0, 0) 100%);
}
.news__date {
  -ms-flex-item-align: end;
      align-self: end;
  color: rgb(255, 255, 255);
  font-size: 0.93rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 10%;
  text-transform: uppercase;
}
.news__title {
  margin-bottom: 12px;
  color: rgb(255, 255, 255);
  font-size: 1.37rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
}
.news__subtitle {
  margin-bottom: 12px;
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}

.news:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .section4__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section4__news-top {
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .news__title {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .news__subtitle {
    display: none;
  }
}
@media (max-width: 400px) {
  .section4__more span {
    display: none;
  }
  .news__date {
    font-size: 0.7rem;
  }
  .news__title {
    font-size: 1rem;
  }
}